{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {% block styles%}
  {{ super() }}    </ul>
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
  {% endblock %}
  <title></title>
</head>

<body>
  {%block content%}
  <div class="container_fluid">
    <div class="row">

        <div class="col-md-4*">
          <div class="jumbotron" style="background-color:black">
          {% if user.profile_pic_path%}
          <div class="profile">
              <img src="{{url_for('static',filename=user.profile_pic_path)}}" class="img-thumbnail" syle="float:left" width=30%>
          </div>

          {%else%}
          <p>No profile picture</p>
          {% endif%}
          <br>
          <div>
            <h3>Username :{{user.username}}</h3>
            {%if user.bio%}
            <p>Bio :{{user.bio}}</p>
            {%else%}
            <p>Guess What!!!! {{user.username}} has no bio.<br>Can you imagine that?</p>
            {%endif%}
          </div>
      </div>

