body {
    background: url("../img/tablebookingappbackground3.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#556670, #70625e);
    opacity: .6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    text-align: center;
    position: absolute;
    color: #fff;
    top: 20%;
    max-width: 600px;
    z-index: 1;
    left: 30%;
}

.books {
    position: absolute;
    top: 90%;
    left: 60%;
    transform: translate(-50%, -50%)
}

.one {
    z-index: 2;
    padding: 25px;
    width: 400px;
    height: 200px;
    -moz-box-shadow: 0px 12px 14px -7px #5b8a3c;
    -webkit-box-shadow: 0px 12px 14px -7px #5b8a3c;
    box-shadow: -4px 12px 14px -4px #000;
    margin-top: 25px;
    position: absolute;
    text-align: center;
    background-color: #61F8B9;
}

.me {
    text-align: center;
    left: 25%;
    position: absolute;
    color: #fff;
}

.te {
    margin-top: -15px;
    color: #fff;
}

p {
    font-size: 25px;
}

.two {
    position: absolute;
    text-align: center;
    width: 600px;
    -moz-box-shadow: 0px 12px 14px -7px #5b8a3c;
    -webkit-box-shadow: 0px 12px 14px -7px #5b8a3c;
    box-shadow: 0px 12px 14px -4px #000;
    height: 250px;
    left: 25%;
    z-index: 1;
    padding: 50px;
    background-color: #0B034C;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

#book{
    margin-top: -20px;
}

.bookz input{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 10px;
    border: none;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    width: 300px;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 2px 7px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 7px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
#book input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 10px;
    border: none;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    width: 400px;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 2px 7px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 7px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

h3 {
    font-size: 35px;
}

.myButton {
    -moz-box-shadow: 0px 12px 14px -7px #5c0e70;
    -webkit-box-shadow: 0px 12px 14px -7px #5c0e70;
    box-shadow: 0px 12px 14px -7px #000;
    background-color: #0B034C;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 50px #5b8a3c;
}

.myButton:hover {
    background-color: #8752b3;
    color: #fff;
    text-decoration: none;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButtonz {
    -moz-box-shadow: 0px 12px 14px -7px #5b8a3c;
    -webkit-box-shadow: 0px 12px 14px -7px #5b8a3c;
    box-shadow: 0px 12px 14px -7px #000;
    background-color: #61F8B9;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 50px #5b8a3c;
}

.myButtonz:hover {
    background-color: #61fb89;
    text-decoration: none;
}

.myButtonz:active {
    position: relative;
    top: 1px;
}


.container-fluid .navbar {
    height: 100%;
    margin-top: 20px;
    color: #fff;
    -moz-box-shadow: 0px 12px 14px -7px #5b8a3c;
    -webkit-box-shadow: 0px 12px 14px -7px #5b8a3c;
    box-shadow: 0px 12px 14px -7px #000;
    background-color: #0B034C;
}


.container {
    width: 80%;
    height: 70%;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    float: right;
}

ul li {
    list-style: none;
    text-decoration: none;
    margin: 0 10px;
    float: left;
}

.navbar-brand {
    font-weight: bolder;
}

ul li a {
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    z-index: 1;
    position: relative;
}

ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    width: 100%;
    height: 0%;
    background: #61F8B9;
    transition: .5s;
    z-index: -1;
}

ul li a:hover:before {
    height: 100%;
    color: #4B2F99;
    text-decoration: none;
    outline: none;
    text-decoration: none;
}
#book #submit {
    -moz-box-shadow: 0px 12px 14px -7px #5b8a3c;
    -webkit-box-shadow: 0px 12px 14px -7px #5b8a3c;
    box-shadow: 0px 12px 14px -7px #000;
    background-color: #0B034C;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    color: #fff;
    border: none;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 50px #5b8a3c;
}

#book #submit:hover {
    background-color: #61fb89;
    text-decoration: none;
}

#book #submit:active {
    position: relative;
    top: 1px;
}
#book{
    text-align: center;
    position: relative;
    left: 5%;
}
#book .form{
    width: 500px;
    background-color: #051019;
    opacity: 0.7;
    margin-top: 30px;
    padding: 15px 0px;

}