{% extends 'base.html' %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

<!-- Block Content -->
{% block content %}
<div class="main">
  <h3>Make Your Reservation</h3>
  <p>Restaurant Reservations Online – Table Booking System for Restaurants</p>
  <!-- <a href="#" class="myButton">Explore</a> -->
</div>
<div class="container row books">
  <div class="one col-sm-6">
    <h2>Making a reservation?</h2>
    <a href="/book" class="myButton">Book on Telps</a>
  </div>
  <div class="two col-sm-6">
    <div class="me">
      <h2>Do you manage a restaurant?</h2>
      <a href="#" class="myButtonz">Get Started</a>
    </div>
  </div>
</div>
</div>
{% endblock content %}